
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer management</title>

   <th:block th:insert="~{/layout/head::head}">

   </th:block>

</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>List of customers</h1>
            </div>
            <div class="col-sm-7">
                <a href="/customers/create" class="btn btn-outline-light"><i class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Add New Customer</span></a>
                <a href="/customers/transfer/information" class="btn btn-outline-light"><i class="fa fa-history" aria-hidden="true"></i> <span>Transfer money Information</span></a>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Balance</th>
            <th colspan="5">Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="cus:${customers}">
            <td class="text-center" th:text= "${cus.id}"></td>
            <td th:text="${cus.fullName}"></td>
            <td th:text="${cus.email}"></td>
            <td class="text-center" th:text="${cus.phone}"></td>
            <td th:text="${cus.address}"> </td>
            <td class="text-end num-space" th:text="${cus.balance}"></td>
            <td class="text-center">
                <a class="btn btn-outline-secondary" title="Edit" data-toggle="tooltip" th:href="@{'/customers/edit/'+${cus.id}}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
            <td class="text-center">
                <a class="btn btn-outline-success" title="Deposit" data-toggle="tooltip" th:href="@{'/customers/deposit/'+${cus.id}}" >
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </td>
            <td class="text-center">
                <a class="btn btn-outline-warning" title="Withdraw" data-toggle="tooltip" th:href="@{'/customers/withdraw/'+${cus.id}}"  >
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </a>
            </td>
            <td class="text-center">
                <a class="btn btn-outline-primary" title="Transfer" data-toggle="tooltip"  th:href="@{'/customers/transfer/'+${cus.id}}" >
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                </a>
            </td>
            <td class="text-center">
                <a class="btn btn-outline-danger" title="Suspended" data-toggle="tooltip" th:href="@{'/customers/suspended/'+${cus.id}}" >
                    <i class="fa fa-ban" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<th:block th:insert="~{/layout/head::script}">

</th:block>
</body>
</html>